.container {
 
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 20px;
  padding: 15px;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 45%,
    rgba(186, 186, 186, 1) 100%
  );
}

h1 {
  background-image: linear-gradient(
    2deg,
    rgba(2, 0, 36, 1) 28%,
    rgba(98, 97, 123, 1) 65%
  );
  background-clip: text; /* Обрезает градиент до границ текста */
  color: transparent;
}
