.image {
  height: 300px;
  border-radius: 50%;

   line-height: 0;
}

.container {
  background: linear-gradient(90deg, #eef4ef 0%, #eef1f4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
  padding: 40px 20px 20px 20px;
  height: 500px;
  width:310px;
}

.container p {
  text-align: center;
}
p {
  font-size: 1.3em;
  margin: 0px 0px 5px 0px;
}
